@font-face {
  font-family: 'HelveticaNeue Thin';
  src: url('HelveticaNeue Thin.eot');
  src: url('HelveticaNeue Thin.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNeue Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueThin';
  src: url('HelveticaNeueThin.svg#HelveticaNeueThin') format('svg'),
       url('HelveticaNeueThin.ttf') format('truetype'),
       url('HelveticaNeueThin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

