:root {
  --THEME_FONT_COLOR: white;
  --THEME_FONT_COLOR_DARK: #0853dd;
  --THEME_COLOR_TITLE_DARK: #021e9b;
  --THEME_COLOR_PRIMARY_LIGHT: #6198ff;
  --THEME_COLOR_PRIMARY_DARK: #080cdd;
  --DISABLED_COLOR: #555555;
}
