body {
  font: 13px Helvetica, Arial;
  margin: 0;
  overflow: hidden;
}
#app_holder {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  width: 95%;
  padding: 5px 10px;
}

.own_message p {
  background: green;
  color: white;
  font-size: 20px;
  border: 1px solid green;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  margin: 5px !important;
  word-break: break-all;
}
.other_message {
  text-align: right;
}
.other_message p {
  background: darkslategrey;
  color: white;
  font-size: 20px;
  border: 1px solid darkslategrey;
  border-radius: 5px;
  display: inline-block;
  margin: 5px !important;
  padding: 10px;
  word-break: break-all;
}
#message_holder {
  height: calc(100% - 50px);
  overflow-y: scroll;
  overflow-x: hidden;
}

#panel_holder {
  position: absolute;
  bottom: 8px;
  left: 5px;
  width: 100%;
  height: 40px;
}
#text_field {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  height: 100%;
}
#send_button {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.h100{
  height: 100%;
}